{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg p-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 image-text">
                <h1 class="logo-font text-white display-1 welcome-text">Welcome</h1>
                <p class="h2 text-white text-lg-left">Disc Golf Lovers</p>
                <p class="h4 text-white">You're Home</p>
                <div class="my-3">
                    <h4>
                        <a href="{% url 'products' %}" class="btn rounded-pill border-danger text-white  bg-danger shop-now-btn">
                            Shop Now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}