@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, html {
    height: 100%;
    font-family: Oswald, sans-serif;
    scroll-behavior: smooth;
  }
  
  .bg { 
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2020/07/13/16/41/disc-golf-5401312_1280.jpg");
    opacity: 85%;
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* Header styling */

.page-header {
    padding-top: 2vh !important;
}

/* Back to top button */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

/* Footer */

.footer {
    background-color: #292b2c;
}

/* Home page */
.image-text {
    margin-top: 15% !important;
}

.shop-now-btn:hover {
    background: #424242 ;
    border-color: #424242;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}
.product-form {
    margin-top: 170px !important;
}

/* Toasts */

.message-container {
    position: absolute !important;
    top: 12vh;
    right: 2vh;
    z-index: 1031; /* Since the header has fixed-top */
}

.toast-cart-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Home page image text on smaller screens*/
@media (max-width: 990px) {

    .main-logo-link {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }


    #main-nav {
        background-color: #292b2c;
    }

    .welcome-text {
        margin-top: 10vh;
    }

    #newsletter-form {
        width: 75% !important;
    }
}

@media (max-width:450px) {
    .welcome-text {
        display: none;
    }
    .image-text {
        margin-top: 30vh !important;
        font-size: larger;
    }
}