@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, html {
    height: 100%;
    font-family: Oswald, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

  html {
    overflow-x: auto;
  }
  
  .bg { 
    /* The image used */
    background-image: url("/media/disc-golf-home-bg.jpeg");
    opacity: 85%;
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* Header styling */
.nav-bg {
    background-color: #292b2c;
}

.breadcrumbs-product-details {
    padding-left: 45px;
}

/* Back to top button */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

/* Footer */

.footer {
    background-color: #292b2c;
}

.image-text {
    margin-top: 15% !important;
}

.btn:hover {
    background: #424242 !important;
    border-color: #424242 !important;
}

#select-container {
    padding-left: 30px;
}

.logo-font {
    text-transform: uppercase;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}
.product-form {
    margin-top: 170px !important;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

#product-detail-img {
    height: 30vw;
}

/* Toasts */

.message-container {
    position: absolute !important;
    top: 12vh;
    right: 2vh;
    z-index: 1031; /* Since the header has fixed-top */
}

.toast-cart-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Allauth form formatting */

.allauth-form-inner-content {
    min-height: 50vh !important;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #0275d8; /* text-info */
}

/* Add / Edit products pages */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked .custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .product-container {
        margin-top: 20vh !important;
    }

    .product-form-header {
        margin-top: 10rem !important;
    }
}

/* Home page image text on smaller screens*/
@media (max-width: 991px) {

    .main-logo-link {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }


    #main-nav {
        background-color: #292b2c;
    }

    .welcome-text {
        margin-top: 10vh;
    }

    #newsletter-form {
        width: 75% !important;
    }

    #breadcrumb {
        display: none !important;
    }

    .page-header {
        margin-top: 10rem !important;
    }

    .allauth-forms,
    #products-detail-container {
        margin-top: 15rem !important;
    }

    #product-detail-img,
    .card-img-top {
        height: 30vw !important;
    }

}

@media (max-width:450px) {
    .welcome-text {
        display: none;
    }
    .image-text {
        margin-top: 30vh !important;
        font-size: larger;
    }

    #product-detail-img,
    .card-img-top {
        height: 80vw !important;
    }
}

@supports (-webkit-touch-callout: none) {
    @media (max-width:450px) {
        #topnav {
            display: none;
        }
    }
  }