.nav-bg {
    background-color: #292b2c;
}

.product-container {
    margin-top: 20vh !important;
}

.home-link {
    padding-left: 30px;
}

/* Checkout Page */

.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-info {
    position: relative;
    left: 1rem;
}

@media (max-width: 991px) {
    .product-container {
        margin-top: 20vh !important;
    }
    .sort-select-wrapper {
        width: 100% !important;
    }

    .product-details-box {
        margin-bottom: 30vh;
    }

}



