.nav-bg {
    background-color: #292b2c;
}

.product-container {
    margin-top: 20vh !important;
}

.home-link {
    padding-left: 30px;
}

@media (max-width: 991px) {
    .product-container {
        margin-top: 30vh !important;
    }
    .sort-select-wrapper {
        width: 100% !important;
    }
}