<div class="collapse navbar-collapse bg-gradient-light" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 border-bottom" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=putt_approach" class="dropdown-item">Disc Putt & Approach</a>
                <a href="{% url 'products' %}?category=midrange_multi" class="dropdown-item ">Disc Midrange/Multi</a>
                <a href="{% url 'products' %}?category=fairway_driver" class="dropdown-item ">Disc Fairway Driver</a>
                <a href="{% url 'products' %}?category=distance_driver" class="dropdown-item ">Disc Distance Driver</a>
                <a href="{% url 'products' %}?category=bundels_accesories" class="dropdown-item">Disc Bundels/Accesories</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 border-bottom" href="{% url 'deals' %}">
                Disc Golf Deals
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 border-bottom" href="{% url 'course_reviews' %}">
                Disc Golf Courses
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 border-bottom" href="{% url 'contact' %}">
                Contact
            </a>
        </li>

    </ul>
</div>