{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/df7dfe1a2f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" 
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Disc Golf{% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid fixed-top">
    <div id="topnav" class="nav-bg row pt-lg-2">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font text-white my-0"><strong>Disc Golf</strong></h2>
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-inline-block">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-secondary rounded-0" type="text" name="q" placeholder="Search for products">
                    <div class="input-group-append">
                        <button class="form-control btn btn-secondary border border-secondary rounded-0 ml-1" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 mt-3 py-1 py-lg-0 d-none d-lg-inline-block">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown d-none d-lg-inline-block">
                <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="text-center pl-5">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link d-none d-lg-inline-block"
                    href="{% url 'view_cart' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                            {% else %}
                            $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        </div>
    </div>
    <div class="row pb-3 nav-bg">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
</header>

{% if messages %}
<div class="message-container fixed">
    {% for message in messages %}
        {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>
{% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}
  <button type="button" class="btn btn-danger btn-lg rounded-circle" id="btn-back-to-top" onclick="topFunction()">
    <i class="fas fa-arrow-up"></i>
  </button>

<footer class="text-center text-lg-start footer text-muted">
    <div class="text-center">
    <span>Sign up to Our Newsletter:</span>
    <form method="GET" action="">
        <div class="input-group w-50 pt-0 pt-sm-5 mx-auto">
            <input class="form-control  rounded-0" type="text" name="Newsletter" placeholder="Sign up to Our Newsletter">
            <div class="input-group-append">
                <button class="form-control btn btn-primary border rounded-0 ml-1" type="submit">
                    <i class="fas fa-newspaper"></i>
                </button>
            </div>
        </div>
    </form>
    </div>

    <!-- Section: Links  -->
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mt-5 ">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <i class="fa-solid fa-flying-disc me-3"></i><strong>Disc Golf</strong>
            </h6>
            <p>
                We review disc golf courses and sell the latest discs for the best price
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mt-5">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Join us on Social Media
            </h6>
            <p>
                <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f fa-lg"></i></a> 
            </p>
            <p>
                <a href="" class="me-4 text-reset"><i class="fab fa-twitter fa-lg"></i></a> 
            </p>
            <p>
                <a href="" class="me-4 text-reset"><i class="fab fa-instagram fa-lg"></i></a> 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mt-5">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="{% url 'products' %}" class="text-reset">All Products</a>
            </p>
            <p>
                <a href="#" class="text-reset">Course Reviews</a>
            </p>
            <p>
              <a href="#" class="text-reset">Contact</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mt-5 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Stockholm, Sweden, 111 11</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@disc-golf@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    <div class="text-center p-4">
      © 2021 Copyright: Educational Purposes Only
    </div>
  </footer>

  {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script type="text/javascript">
        var BackToTopBtn = document.getElementById("btn-back-to-top");
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                BackToTopBtn.style.display = "block";
            } else {
                BackToTopBtn.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
  {% endblock %}


</body>

</html>