{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static  'css/style.css' %}">
{% endblock %}


{% block content %}
 {% if user.is_superuser %}
    <div class="col product-form">
        <div class="row">
            <div class="col text-center page-header">
                <h2 class="logo-font">Edit Product</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="col-8">
            <form action="{% url 'edit_product' product.id %}" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-black rounded-0">Update Product</button>
                <button class="btn rounded-0"><a href="{% url 'product_detail' product.id %}">Back to Product</a></button>
            </form>
        </div>
    </div>
 {% endif %}

{% endblock %}
